* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "nav"
    "filters"
    "main"
    "footer";
  grid-template-rows: 60px 60px 1fr 60px;
  width: 100%;
}

.nav-section {
  grid-area: nav;
  background-color: #4b4946;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  color:white;
}

.nav-section > .logo-container {
  display: flex;
  gap: 5px;
}
.nav-section img {
  width: 30px;
}

.nav-section > ul {
  display: none;
}

.filters-section {
  grid-area: filters;
  background-color: #c0bdb8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters-section > select {
  width: 200px;
  height: 35px;
  padding-left: 5px;
}

.main-section {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.main-section > .cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 10px;
}

.main-section > .cards-container > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(239, 231, 231);
  width: 310px;
  height: fit-content;
  padding: 35px 0px;
  gap: 15px;
  border-radius: 3px;
  /*border: solid 1px #585142;*/
}

.main-section > .cards-container > .card > img {
  width: 250px;
}

.main-section > .cards-container > .card > button {
  width: 90px;
  height: 35px;
  background-color: #4b4946;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-section > .navigation {
  display: flex;
}
.main-section > .navigation > button {
  width: 30px;
  height: 30px;
  color: #4b4946;
  cursor: pointer;
}
.foot-section {
  grid-area: footer;
  background-color: #928d84;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  padding: 15px;
}
.foot-section > div {
  display: flex;
  justify-content: center;
}
.foot-section > div > img {
  padding-top: 7px;
  width: 20px;
}

@media (min-width: 576px) {
  .menu {
    display: none;
  }
  .container {
    grid-template-areas:
      "nav filters"
      "nav main"
      "footer main";
    grid-template-columns: 160px 1fr;
    grid-template-rows: 60px 1fr 60px;
  }

  .main-section > .cards-container {
    flex-direction: row;
    flex-wrap: wrap; /*en ancho máximo va acomodando hacia abajo*/
  }
  .nav-section {
    flex-direction: column;
    justify-content: start;
    gap: 35px;
    padding: 15px;
  }

  .nav-section > ul {
    display: block;
    list-style: none;
    color: white;
    cursor: pointer;
    text-align: center;
  }

  li {
    padding-top: 20px;
}
  .nav-section > .logo-container {
    display: flex;
    flex-direction: row;
  }

  .nav-section > .logo-container > h1 {
    font-size: larger;
  }

  .foot-section {
    height: 15vh;
  }

  .foot-section span {
    padding-top: 5px;
    text-align: center;
  }
}
